@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Ideenbuilder */
.builder-element {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
}

.builder-element:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.builder-element-heading {
  background-color: #efefef;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  padding: 0.5rem 1rem;
}

.builder-element-drapable-zone {
  margin-top: 40px;
  display: grid;
  grid-gap: 10px;
}

.dropable-column {
  border: 1px dashed #e2e8f0;
  border-radius: 0.25rem;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  min-height: 100px;
}